@use "_gui" as gui;

body {
	margin: 0;
}

#canvasCnt {
	width: 100vw;
	height: 100vh;
	position: relative;
	background: transparent;
}

#canvasCnt canvas {
	position: absolute;
	left: 0;
	top: 0;
	cursor: none;
}

#mainCanvas {
	z-index: 0;
}

#secondaryCanvas {
	z-index: 1;
	pointer-events: none;
}